<!DOCTYPE html>
<html>
<head>
<title>Jogo dos Animais</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

<style type="text/css">
body {
    padding-top: 20px;
    padding-bottom: 40px;
}
.masthead h1 {
    font-size: 22px;
}
</style>

</head>
<body>
    <div class="container">

        <div class="masthead">
            <h1 class="muted">Jogo dos Animais</h1>
        </div>

        <hr>

        <div class="jumbotron">
            {% block content %}{% endblock %}
        </div>

        <hr>

        <div class="footer">
            <p>&copy; Jaison Erick 2013</p>
        </div>

    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>

    {% block scripts %}{% endblock %}
</body>
</html>