{% extends layout %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){
	$('#cancelar-btn').click(function(){
	    var form = $(this).parents('form');
	    form.find('[name="is-cancelar"]').val('1');
	    form.submit();
	});
});
</script>
{% endblock %}

{% block content %}
    <h3>Desisto</h3>
    <form action="/nova-dica" method="post">
        <input type="hidden" name="is-cancelar" value="0" />
        <label>Um(a) {{ resposta }} <input type="text" name="dica" /> mas um(a) {{ ultimaResposta }} não.</label>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" id="ok-btn">Ok</button>
            <button type="button" class="btn" id="cancelar-btn">Cancelar</button>
        </div>
    </form>
{% endblock %}