{% extends layout %}

{% block content %}
    <h3>O animal que você pensou {{ question }}?</h3>
    <p>
        <a class="btn btn-large btn-success" href="/pergunta/sim">Sim</a>
        <a class="btn btn-large btn-danger" href="/pergunta/nao">Não</a>
    </p>
{% endblock %}